.birthday-01-250102 {
  width: 100%;
  height: 100%;
  background: url($CDN_BASE_URL + 'birthday-01-250102/bg_main.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .birthday-bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .bg-page1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .birthday-btn {
    width: 92px;
    height: 92px;
    position: absolute;
    top: calc(50% + 90px);
    left: calc(50% - 46px);
    object-fit: contain;
    z-index: 9;
    animation: btnMove 1s ease-in-out infinite;
  }

  @keyframes btnMove {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fireworks-appear {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  @keyframes cloud-move-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes cloud-move-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes text-appear {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes float {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .birthday-landing-page {
    width: 100%;
    height: 100%;
    position: relative;

    .landing-img {
      position: absolute;
      object-fit: cover;
    }

    .img-title {
      top: calc(50% - 265px);
      left: 131px;
      width: 112px;
      height: 324px;
      animation: text-appear 1s ease-out forwards;
    }

    .img-fireworks-01 {
      top: 120px;
      left: 20px;
      width: 112px;
      height: 112px;
      opacity: 0.5;
      animation: fireworks-appear 4s ease-in-out infinite;
    }
    .img-fireworks-02 {
      top: 68px;
      left: 240px;
      width: 142px;
      height: 142px;
      animation: fireworks-appear 3.2s ease-in-out infinite;
    }

    .img-cloud-left-01 {
      top: 224px;
      width: 100px;
      height: 140px;
      left: -1px;
      z-index: 8;
      animation:
        cloud-move-left 2s ease-in-out forwards,
        float 3s ease-in-out infinite;
    }
    .img-cloud-right-01 {
      top: 185px;
      left: 282px;
      width: 100px;
      height: 140px;
      animation:
        cloud-move-right 2s ease-in-out forwards,
        float 3s ease-in-out infinite;
      z-index: 8;
    }
    .img-time-address {
      bottom: 40px;
      left: 83px;
      width: 208px;
      height: 50px;
      object-fit: contain;
      z-index: 9;
      animation: text-appear 1s ease-out forwards;
    }
  }
}
